@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
}



.swiper-pagination-bullets {
	margin-top: 50px;
}


.container {
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
}

/* switcher */
.switch {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 20px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #CECDCD;
	-webkit-transition: .4s;
	transition: .4s;
	box-shadow: 7px 5px 15px 0px #A09EA099;
	;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 1px;
	bottom: 1px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #9BB537;
}

input:focus+.slider {
	box-shadow: 0 0 1px #9BB537;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* switcher */

.main-header {
	padding: 0 100px;
	margin-top: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 100px;
}

.main-logo img {
	width: 93px;
}

.main-nav a {
	font-size: 12px;
	text-decoration: none;
	color: black;
}

.main-nav a:first-child {
	margin-right: 0px;
}

.first-screen__left-column {
	flex: 1 0 40%;
}

.first-screen__left-column p {
	max-width: 408px;
	line-height: 24px;
	font-weight: 400;
}

.first-screen__btn {
	font-size: 14px;
	font-weight: 500;
	padding: 14px 28px;
	border-radius: 15px;
	border: 1px solid #9BB537;
	background-color: #fff;
	margin-top: 10px;
}

.first-screen {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 100px;
}

.first-screen h1 {
	font-size: 36px;
	line-height: 43px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 0;
}

.first-screen span {
	font-weight: 400;
	color: #9BB537;
	font-style: italic;
}

.first-screen__right-column {
	position: relative;
}

.slide-img {
	position: relative;
}


.slide-img img {
	width: 100%;
}

.slide__img-wrar {
	display: flex;
}

.swiper {
	width: 870;
	height: 470px;
}

.first {
	width: 137px;
	height: 442px;
	border-radius: 15px;
	margin-right: 15px;
	background-position: center center;
	background-size: cover;
	flex: 1 0 auto;
}

.second {
	width: 350px;
	height: 442px;
	border-radius: 15px;
	margin-right: 15px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #1e220d;
	flex: 1 0 auto;
}

.third {
	width: 350px;
	height: 442px;
	border-radius: 15px;
	background-position: center center;
	background-size: calc(150%);
	flex: 1 0 auto;
	background-color: #1e220d;
}

.slide-text {
	position: relative;
	bottom: 60px;
	text-align: center;
	left: -12%;
}

.slide-text h2 {
	color: #F8F8F899;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	line-height: 0;
}

.slide-text p {
	color: #F8F8F833;
	font-size: 12px;
	line-height: 25px;
}