@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.opened-recipe-card {
	position: absolute;
	z-index: 15;
	top: 30px;
	width: 530px;
	background-color: #fff;
	padding: 32px;
	border-radius: 12px;
}

.overlay {
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10;
}

.open-rcipe-card__close {
	position: absolute;
	right: 25px;
	top: 20px;
	font-size: 22px;
	cursor: pointer;
}

.open-rcipe-card__close i {
	color: #050505;
	transition: 0.5s;
}

.open-rcipe-card__close i:hover {
	color: #9BB537;
	transform: scale(1.3);
}

.open-rcipe-card__up {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.open-rcipe-card__title {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
}

body::before {
	content: " ";
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}

iframe {
	width: 456px;
	height: 260px;
	border-radius: 10px;
	border: none;
}

.open-rcipe-card__categories {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 10px;
}

.wrap-tags {
	display: flex;
	flex: 0 1 60%;
	flex-wrap: wrap;
}

.open-rcipe-card__category {
	font-size: 12px;
	font-weight: 500;
	border: 1px solid rgba(5, 5, 5, 0.2);
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px 8px;
	border-radius: 15px;
}

.stars-rating {
	margin-right: 10px;
}

.open-rcipe-card__rating {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: rgba(5, 5, 5, 0.5);
}

.open-rcipe-card__ingridients {
	margin-top: 30px;
}

.open-rcipe-card__ingridient {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(5, 5, 5, 0.1);
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.ingridient-title {
	font-size: 14px;
}

.ingridient-measure {
	font-size: 14px;
	font-weight: 500;
	color: rgba(5, 5, 5, 0.5);
}

.open-rcipe-card__description {
	font-size: 14px;
	color: rgba(5, 5, 5, 0.8);
	margin-top: 16px;
}

.open-rcipe-card__buttons {
	margin-top: 20px;
}

.add-to-favorite {
	font-size: 14px;
	color: #fff;
	padding: 14px 28px;
	background-color: #9BB537;
	border: none;
	border-radius: 15px;
	margin-right: 15px;
	transition: 0.5s;
	cursor: pointer;
}

.add-to-favorite:hover {
	transform: scale(1.1);
	border: 1px solid #9BB537;
	color: rgba(5, 5, 5, 1);
	background-color: #fff;
}

.give-rating {
	border: 1px solid #9BB537;
	font-size: 14px;
	color: rgba(5, 5, 5, 1);
	background-color: #fff;
	padding: 14px 28px;
	border-radius: 15px;
	cursor: pointer;
	transition: 0.5s;
}

.give-rating:hover {
	transform: scale(1.1);
	color: #fff;
	background-color: #9BB537;
}

.swiper-pagination-bullets {
	margin-top: 50px;
}


.container {
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
}

/* switcher */
.switch {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 20px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #CECDCD;
	-webkit-transition: .4s;
	transition: .4s;
	box-shadow: 7px 5px 15px 0px #A09EA099;
	;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 1px;
	bottom: 1px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #9BB537;
}

input:focus+.slider {
	box-shadow: 0 0 1px #9BB537;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* switcher */

.main-header {
	padding: 0 100px;
	margin-top: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 100px;
}

.main-logo img {
	width: 93px;
}

.main-nav a {
	font-size: 12px;
	text-decoration: none;
	color: #000;
}


.main-nav a:first-child {
	margin-right: 0px;
}

.first-screen__left-column {
	flex: 1 0 40%;
}

.first-screen__left-column p {
	max-width: 408px;
	line-height: 24px;
	font-weight: 400;
}

.first-screen__btn {
	font-size: 14px;
	font-weight: 500;
	padding: 14px 28px;
	border-radius: 15px;
	border: 1px solid #9BB537;
	background-color: #fff;
	margin-top: 10px;
	transition: 0.5s;
	cursor: pointer;
}

.first-screen__btn:hover {
	background-color: #9BB537;
	color: #fff;
	transform: scale(1.1);
}

.first-screen {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 100px;
}

.first-screen h1 {
	font-size: 36px;
	line-height: 43px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 0;
}

.first-screen span {
	font-weight: 400;
	color: #9BB537;
	font-style: italic;
}

.first-screen__right-column {
	position: relative;
}

.slide-img {
	position: relative;
}


.slide-img img {
	width: 100%;
}

.slide__img-wrar {
	display: flex;
}

.swiper {
	width: 870;
	height: 470px;
}

.swiper .swiper-pagination {
	bottom: 0 !important;
	width: initial !important;
	left: 36% !important;
}

.swiper .swiper-pagination-bullet {
	width: 5px;
	height: 5px;
	opacity: 0.8;
	margin: 0 2px !important;
}

.swiper .swiper-pagination-bullet-active {
	background-color: #9BB537;
}

.first {
	width: 137px;
	height: 442px;
	border-radius: 15px;
	margin-right: 15px;
	background-position: center center;
	background-size: cover;
	flex: 1 0 auto;
}

.second {
	width: 350px;
	height: 442px;
	border-radius: 15px;
	margin-right: 15px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #1e220d;
	flex: 1 0 auto;
}

.third {
	width: 350px;
	height: 442px;
	border-radius: 15px;
	background-position: center center;
	background-size: calc(150%);
	flex: 1 0 auto;
	background-color: #1e220d;
}

.slide-text {
	position: relative;
	bottom: 60px;
	text-align: center;
	left: -12%;
}

a.active {
	color: #9BB537;
}

.active {
	color: #9BB537 !important;
}

.slide-text h2 {
	color: #F8F8F899;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	line-height: 0;
}

.slide-text p {
	color: #F8F8F833;
	font-size: 12px;
	line-height: 25px;
}

.second-screen {
	padding: 0 100px;
	display: flex;
	margin-top: 100px;
}

.second-screen__left-column {
	flex: 1 0 21%;
	max-width: 235px;
}

.second-screen__right-column {
	margin-left: 64px;
}

.right-column__top {
	display: flex;
	flex-direction: column;
}


::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(2, 2, 2, 0.2);
	border-radius: 12px;
	height: 10%;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #9BB537;
}

.left-column__categories-list {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	height: 416px;
	overflow: hidden;
	overflow-y: scroll;
	margin-bottom: 64px;
}

.left-column__categories-link {
	font-weight: 500;
	line-height: 20px;
	margin-bottom: 24px;
	color: rgb(2, 2, 2, 0.3);
	cursor: pointer;
}

.left-column__categories-link:hover {
	color: #9BB537;
}

.left-colum__all-categories-btn {
	background-color: #fff;
	padding: 14px 28px;
	border-radius: 15px;
	border: 1px solid rgb(2, 2, 2, 0.2);
	font-size: 18px;
	font-weight: 500;
	color: rgb(2, 2, 2, 0.5);
	margin-bottom: 42px;
	cursor: pointer;
	transition: 0.5s;
}

.left-colum__all-categories-btn:hover {
	background-color: #9BB537;
	border-color: #9BB537;
	color: #fff;
	transform: scale(1.1);
}

.left-colum__all-categories-btn.active-btn {
	background-color: #9BB537;
	border-color: #9BB537;
	color: #fff;
}


.left-column__bottom h2 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 28px;
}

.popular-recipes__card {
	display: flex;
	align-items: center;
	margin-bottom: 32px;
	cursor: pointer;
}

.popular-recipes__card:has(:hover) .card-img img {
	transform: scale(1.3);
}

.popular-recipes__card:has(:hover) .card-title h3 {
	color: #9BB537;
}

.card-img {
	margin-right: 16px;
}

.card-img img {
	width: 64px;
	height: 64px;
	border-radius: 15px;
	transition: 0.5s;
}

.card-wrap-text {
	display: flex;
	flex-direction: column;
}

.card-title h3 {
	font-size: 14px;
	margin: 0;
	margin-bottom: 8px;
	text-transform: uppercase;
	transition: 0.5s;
}

.card-description {
	font-size: 10px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-height: 1.3em;
	height: 2.5em;
}

.wrap-inputs {
	display: flex;
}

.right-column__recepies-cards {
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 8px;
}

.recipe-card {
	margin-bottom: 16px;
	width: 250px;
	margin-right: 15px;
	margin-bottom: 20px;
}

.recipe-card:nth-child(3n+3) {
	margin-right: 0;
}

.wrap-input {
	display: flex;
	flex-direction: column;
}



.recipe-card-img {
	background-position: center center;
	background-size: cover;
	width: 250px;
	height: 287px;
	border-radius: 15px;
	position: relative;
	padding: 16px;
}

.recipe-card-information {
	color: #fff;
	width: 218px;
	position: absolute;
	bottom: 20px;
}

.recipe-card-title {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.recipe-card-description {
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-height: 1em;
	height: 2em;
	margin-bottom: 16px;
}

.favorite-heart {
	position: absolute;
	z-index: 1;
	right: 18px;
	cursor: pointer;
	font-size: 28px;
	opacity: 0.7;
	font-family: "Font Awesome 5 Free";
	transition: 0.5s;
}

.favorite-heart:hover {
	transform: scale(1.3);
	opacity: 1;
}

.wrap-rate {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.see-recipe {
	font-size: 12px;
	font-weight: 500;
	background-color: #9BB537;
	border: none;
	border-radius: 10px;
	color: #fff;
	padding: 10px 15px;
	cursor: pointer;
	transition: 0.5s;
}

.see-recipe:hover {
	transform: scale(1.1);
}

.stars-outer {
	position: relative;
	display: inline-block;
}

.stars-outer::before {
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: rgba(5, 5, 5, 0.3);
	font-size: 14px;
}

.stars-inner {
	top: 0;
	left: 0;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
}

.stars-inner::before {
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #EEA10C;
	font-size: 14px;
}

.stars-rating span {
	font-size: 14px;
}

.right-column__top {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.wrap-inputs {
	margin-top: -22px;
}

.wrap-input {
	margin-right: 16px;
	color: rgba(5, 5, 5, 0.2);
}

.wrap-input label {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 8px;
}

.wrap-input:last-child {
	margin: 0;
}

.search {
	width: 278px;
	height: 48px;
	padding: 14px 122px 14px 18px;
	color: rgba(5, 5, 5, 0.5);
	border: 1px solid rgba(5, 5, 5, 0.2);
	border-radius: 15px;
}

.wrap-input select {
	border: 1px solid rgba(5, 5, 5, 0.2);
	border-radius: 15px;
	height: 48px;
	color: rgba(5, 5, 5, 0.5);
	appearance: none;
	background-image: url("/src/img/arrow-down.png");
	background-repeat: no-repeat;
	background-position: right 1rem top 50%;
	background-size: 0.65rem auto;
	padding: 14px 18px;
	cursor: pointer;
}

.wrap-input select:focus,
input:focus {
	outline: none;
}

.time {
	width: 125px;
}

.area {
	width: 141px;
}

.ingredients {
	width: 188px;
}

.reset-filter {
	font-size: 12px;
	border: none;
	background-color: #fff;
	font-weight: 500;
	color: rgba(5, 5, 5, 0.5);
	margin-top: 14px;
	cursor: pointer;
}

.reset-filter span {
	color: #9BB537;
	font-size: 14px;
}

.pagination-buttons-list {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	margin-bottom: 100px;
}

/*  styles for navigatio buttons     */
.page-btn {
	border: 1px solid rgba(5, 5, 5, 0.3);
	color: #2c303a;
	height: 44px;
	width: 44px;
	padding: 0 10px;
	letter-spacing: 0.1em;
	transition: background 0.3s ease;
	margin: 0 2px;
	border-radius: 50%;
}

.pagination-buttons i {
	font-size: 18px;
}

.page-btn:first-of-type {
	margin-left: 0;
}

.page-btn:last-of-type {
	margin-right: 0;
}

.page-btn:not([class$="-page"]) {
	width: 44px;
}

.pagination-buttons {
	display: flex;
	align-items: center;
}

.page-btn[class*="-page"] {
	background: rgba(155, 181, 55, 1);
	color: rgba(5, 5, 5, 1);
	font-size: 0.6em;
	font-weight: 700;
	border: none;
}

.page-btn.active {
	background: rgba(155, 181, 55, 1);
	color: rgba(5, 5, 5, 1) !important;
	border: none !important;
}

.page-btn.next-page {
	margin-left: 20px;
}

.page-btn.prev-page {
	margin-right: 20px;
}

.page-btn[disabled] {
	background-color: rgba(5, 5, 5, 1);
	color: rgba(248, 248, 248, 0.5);
}

button {
	background: none;
	appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	border: none;
	cursor: pointer;
}

/*  styles for navigatio buttons     */